.editor-block-list__block[data-type="coblocks/pricing-table"] {

	.pricing-table__price {
		display: flex !important;

		.blocks-editable {
			display: inline-block;
		}
	}

	.pricing-table--right .pricing-table__price {
		justify-content: flex-end;
	}

	.blocks-button__inline-link {

		&--fullwidth {
			width: 100%;
		}

		&--second {
			display: flex;
			margin-left: 60px;

			.dashicon {
				position: relative;
				top: 8px;
			}
		}
	}
}
